.bikes-list {
  padding: 60px 0;
}

.bikes-list h2 {
  margin-bottom: 40px;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.bikes-list ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: auto;
}

.bikes-list li {
  flex: 1;
  min-width: 280px;
}

.bikes-list a {
  display: block;
}

.bikes-list img {
  margin-bottom: 16px;
}

.bikes-list h3 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.bikes-list h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: var(--color-p1);
  transition: width 0.3s;
}

.bikes-list a:hover h3::before {
  width: 24px;
}

.bikes-list li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bikes-list {
    padding-bottom: 60px;
  }
  .bikes-list ul {
    gap: 20px;
  }
}
