.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-p1);
}

.depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.depoimento-main {
  padding: 40px 40px 80px 80px;
  align-self: end;
}

.depoimento-main p {
  max-width: 32ch;
  font-family: "Merriweather", sans-serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimento img {
    max-height: 200px;
  }
  .depoimento-main {
    padding: 40px 20px;
    justify-self: center;
  }
}
